.my-dark-blue-text {
    color: #13B1B4;
}
.my-dark-blue-bg {
    background-color: #13B1B4;
}
.my-light-blue-text {
    color: #BDEDF1;
}
.my-light-blue-bg {
    background-color: #BDEDF1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#overall-container {
    /*background-color: darkcyan;*/
    padding: 0px;
}

.container {
    max-width: none !important;
    width: 100% !important;
}

.logo {
    flex: 3;
    display: table-cell;
}

    .logo > span:hover {
        cursor: pointer;
    }

.title {
    font-size: 34px;
    color: #13B1B4;
    padding-left: 10px;
    font-weight: bold;
    vertical-align: middle;
}


#header-div {
    position: fixed;
    max-width: none !important;
    width: 97%;
    padding: 0px;
    background-color: white;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 1px 10px;
}

#nav-menu-div {
    width: 100%;
    text-align: center;
    flex: 3;
}

#nav-menu-ul {
    display: flex;
    height: 100%;
}

.my-nav-pills > .li {
    min-height: 100%;
    height: 80px !important;
    flex: 1;
    /*border-left: solid;
        border-color: #BDEDF1;
        border-width: 1px;*/
    /*display: table-cell;*/
}

.border {
    content: "";
    border-left: solid;
    border-color: #BDEDF1;
    border-width: 1px;
    /*display: block;*/
    height: 50%;
    margin-top: 20px;
}

.my-nav-pills > .li > a {
    display: inline-block;
    /*display: table-cell;*/
    border-radius: 0px !important;
    /*height: 100% !important;*/
    color: #13B1B4;
    /*vertical-align: middle;*/
    padding: 10px;
    height: 80px;
    width: 100%;
    line-height: 60px;
    font-size: 18px;
}

    .my-nav-pills > .li > a > .pill-label {
        /*vertical-align: middle;*/
    }

    .my-nav-pills > .li > a:hover {
        background-color: #13B1B4 !important;
        color: white;
        text-decoration: none;
    }

.my-nav-pills > .li.active > a {
    background-color: #13B1B4 !important;
    color: white;
}

.my-nav-pills > .li {
    height: 100%;
    display: table-cell;
}

#content-div {
    /*border: solid;
        border-width: 2px;
        border-color: cornflowerblue;*/
    padding: 0px;
}

#footer {
    padding-top: 20px;
}

.item {
    width: auto;
    height: 700px;
    max-height: 700px;
}

#carousel-div {
    border: solid;
    border-color: gray;
    border-bottom-width: 2px;
    /*border-radius: 10px;*/
    max-height: 700px;
}

#carousel-image {
    /*border-radius: 20px;*/
    width: 100px;
    height: 100px;
    /*position: relative;
        z-index: -1;*/
}

.leftish {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.top-center {
    position: absolute;
    top: 0px;
    left: 0px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
    text-shadow: 2px 2px 10px black;
}

.large-font {
    font-size: 100px;
}

.translucent-bg {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}
.dark-blue-translucent-bg {
    background-color: rgba(189, 239, 241, 0.6) !important;
}

.content-row {
    padding: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

    .content-row:nth-child(odd) {
        background-color: #f5fcfd;
    }

.card-container {
    margin: -15px;
    display: flex;
}
.raised-card {
    box-shadow: 4px 4px 20px 1px darkgray;
    border-radius: 5px;
    display: table-cell;
}

.flex {
    display: flex;
}

#mission-label {
    flex: 1;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #BDEDF1;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: middle;
}

#mission-content {
    flex: 3;
    padding: 10px;
    border: solid;
    border-color: #BDEDF1;
    border-width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clickable-card {
    margin: 15px;
    /*border: solid;
        border-width: 2px;
        border-color: transparent;*/
    box-shadow: 4px 4px 20px 1px darkgray;
}

    .clickable-card:hover {
        border-color: #BDEDF1;
        cursor: pointer;
        box-shadow: 4px 4px 20px 4px darkgray;
    }

.shadow {
    box-shadow: 1px 1px 10px black;
}

.card-header {
    background-color: #BDEDF1;
    padding: 10px;
    font-weight: bold;
}

.card-body {
    padding: 10px;
}

.image-div {
    position: relative;
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.image {
    max-width: 100%;
    overflow: hidden;
}

.header-image-div {
    position: relative;
    width: auto;
    height: 700px;
    max-height: 700px;
    overflow: hidden;
}

.header-image {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: -100px;
}

.lesson-header {
    flex: 1;
}

.lesson-label {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: #BDEDF1;
}

.lesson-content {
    flex: 1;
    padding: 10px;
    font-size: 20px;
}

.hover-pointer:hover {
    cursor: pointer;
}

flex-1 {
    flex: 1;
}

/***************************************
    CUSTOM BUTTON 
****************************************/
.btn-DBS {
    color: #FFFFFF;
    background-color: #13B1B4;
    border-color: #0F9C9E;
}

    .btn-DBS:hover,
    .btn-DBS:focus,
    .btn-DBS:active,
    .btn-DBS.active,
    .open .dropdown-toggle.btn-DBS {
        color: #FFFFFF;
        background-color: #0F9C9E;
        border-color: #0F9C9E;
    }

    .btn-DBS:active,
    .btn-DBS.active,
    .open .dropdown-toggle.btn-DBS {
        background-image: none;
    }

    .btn-DBS.disabled,
    .btn-DBS[disabled],
    fieldset[disabled] .btn-DBS,
    .btn-DBS.disabled:hover,
    .btn-DBS[disabled]:hover,
    fieldset[disabled] .btn-DBS:hover,
    .btn-DBS.disabled:focus,
    .btn-DBS[disabled]:focus,
    fieldset[disabled] .btn-DBS:focus,
    .btn-DBS.disabled:active,
    .btn-DBS[disabled]:active,
    fieldset[disabled] .btn-DBS:active,
    .btn-DBS.disabled.active,
    .btn-DBS[disabled].active,
    fieldset[disabled] .btn-DBS.active {
        background-color: #13B1B4;
        border-color: #0F9C9E;
    }

    .btn-DBS .badge {
        color: #13B1B4;
        background-color: #FFFFFF;
    }

/******************************************************/